body {
    font-family: Arial;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: white;
    padding: 25px;
    width: 320px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #999;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #ed32f0;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-box button:hover {
    background: #ed32f0;
}

.signup-text {
    text-align: center;
    margin-top: 10px;
}

.signup-text a {
    color: #f32ae6;
    text-decoration: none;
}


/* Summary Cards Container */
.summary-container {
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

/* Each Card */
.summary-card {
    width: 220px;
    background: white;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s ease-in-out;
}

.summary-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

/* Title */
.card-title {
    font-size: 16px;
    font-weight: 600;
    color: #6a5af9;
    margin-bottom: 8px;
}

/* Value */
.card-value {
    font-size: 28px;
    font-weight: 700;
    color: #333;
}

/* Emoji for beauty */
.card-emoji {
    font-size: 30px;
    margin-bottom: 10px;
}
.admin-login {
    margin-top: 18px;
    padding-top: 12px;
    border-top: 1px solid #eee;
}

.admin-login a {
    color: #6a5af9;
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
}

.admin-login a:hover {
    text-decoration: underline;
}



